<div class="formulario-categoria">
    <div class="cabecera-formulario">
        <h2 mat-dialog-title>Categoria</h2>
        <mat-dialog-actions>
            <mat-icon mat-button mat-dialog-close aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
        </mat-dialog-actions>
    </div>
    <div class="formulario-agregar-categoria">
        <mat-dialog-content>
            @if (error) {
            <div class="mensaje-error">
                <span>{{textoError}}</span>
            </div>
            }
            <form class="form" #formulario="ngForm" *ngIf="!cargando">
                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input (input)="filtroCategoriaPorCodigo()" [(ngModel)]="categoria.codCategoria"
                        name="codigoCategoria" matInput required="required" #codigoCategoria="ngModel">
                        
                        <mat-error *ngIf="codigoCategoria.invalid && (codigoCategoria.dirty || codigoCategoria.touched)">
                        <ng-container>Campo es
                            <strong>obligatorio</strong>
                        </ng-container>
                    </mat-error>
                    <span class="material-icons btn-generadrCodigo" (click)="generarCodCategoria()">
                        edit
                    </span>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <input (input)="filtroCategoriaPorDescripcion()" class="campo-no-valido" [(ngModel)]="categoria.descripcion"
                        name="descripcion" matInput required minlength="4" #descripcion="ngModel">
                    <mat-error *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                        <ng-container *ngIf="descripcion.errors?.['required']">Campo es
                            <strong>obligatorio</strong>
                        </ng-container>
                        <ng-container *ngIf="descripcion.errors?.['minlength']">
                            El nombre debe tener <strong>al menos 5 caracteres</strong>
                        </ng-container>
                    </mat-error>
                </mat-form-field> 
                
  
                <mat-dialog-actions align="end">
                    <button class="btn-guardar" type="submit" mat-button (click)="agregarCategoria(formulario)">Guardar</button>
                </mat-dialog-actions>
            </form>
        </mat-dialog-content>
    </div>
    <div *ngIf="cargando" class="congreso__block_cargando">
        <img src="../../../../assets/img/cargando2.gif" alt="cargando">
        <span>Cargando</span>
    </div>
    <mat-divider></mat-divider>
    <div class="categoria__block_lista">
        <app-listacategoria  [listaDeCategoria]="listaCategoria"
                            (categoriaEditar)="recibiendoCategoria($event)"
                            (categoriaEliminar)="eliminarCategoria($event)"
         ></app-listacategoria>
    </div>
</div>