<div class="container">
    <div class="row">
        <div class="example-button-row">
            <img src="" alt="">
            <h1>AUXILIARES</h1>
            <button (click)="openDialog()" mat-stroked-button>CATEGORIA</button>
            <button (click)="openCongreso()" mat-stroked-button>CONGRESO</button>
            <button (click)="openEstadoInscripcion()" mat-stroked-button>ESTADO INSCRIPCIÓN</button>
            <button (click)="openInstitucionProcendia()"mat-stroked-button>INSTITUCIÓN DE PROCEDENCIA</button>
            <button (click)="openLugarDeProcedencia()" mat-stroked-button>LUGAR DE PROCEDENCIA</button>
            <!-- <button [routerLink]="['/auxiliares/lista-de-eventos']" mat-stroked-button>EVENTO</button> -->
            <button (click)="openEvento()" mat-stroked-button>EVENTO</button>
        </div>
    </div>
</div>