<div class="formulario-estadoInscripcion">
    <div class="cabecera-formulario">
        <h2 mat-dialog-title>Estado de Inscripción</h2>
        <mat-dialog-actions>
            <mat-icon mat-button mat-dialog-close aria-hidden="false" aria-label="close" fontIcon="close"></mat-icon>
        </mat-dialog-actions>
    </div>
    <div class="formulario-agregar-estadIncripcion">
        <mat-dialog-content>
            @if (error) {
            <div class="mensaje-error">
                <span>{{textoError}}</span>
            </div>
            }
            <form class="form" #formulario="ngForm" *ngIf="!cargando">
                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input  [(ngModel)]="estadoDeInscripcion.codInscripcion"
                        name="codInscripcion" matInput required="required" #codigoEstadoInscripcion="ngModel" autocomplete="off">                
                        <mat-error *ngIf="codigoEstadoInscripcion.invalid && (codigoEstadoInscripcion.dirty || codigoEstadoInscripcion.touched)">
                        <ng-container>Campo es
                            <strong>obligatorio</strong>
                        </ng-container>
                    </mat-error>
                    <span class="material-icons btn-generadrCodigo" (click)="generarCodCategoria()">
                        edit
                    </span>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <input class="campo-no-valido" [(ngModel)]="estadoDeInscripcion.descripcion"
                        name="descripcion" matInput required minlength="4" #descripcion="ngModel" autocomplete="off">
                    <mat-error *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                        <ng-container *ngIf="descripcion.errors?.['required']">Campo es
                            <strong>obligatorio</strong>
                        </ng-container>
                        <ng-container *ngIf="descripcion.errors?.['minlength']">
                            El nombre debe tener <strong>al menos 5 caracteres</strong>
                        </ng-container>
                    </mat-error>
                </mat-form-field> 
                
  
                <mat-dialog-actions align="end">
                    <button class="btn-guardar" type="button" mat-button (click)="agregarEstadoInscripcion(formulario)">Guardar</button>
                </mat-dialog-actions>
            </form>
        </mat-dialog-content>
    </div>
    <div *ngIf="cargando" class="estadoInscripcion__block_cargando">
        <img src="../../../../assets/img/cargando2.gif" alt="cargando">
        <span>Cargando</span>
    </div>
    <mat-divider></mat-divider>
    <div class="estadoIncripcion__block_lista">
        <app-listadeestadoinscripcion 
                                    (estadoInscripcionEditar)="recibiendoEstadoInscripcion($event)"
                                    (estadoInscripcionEliminar)="eliminarestadoInscripcion($event)"
                                    [filtroPorCodigo]="estadoDeInscripcion.codInscripcion"
                                    [filtroPorDescripcion]="estadoDeInscripcion.descripcion"
                                    [listaEstadoInscripcion]="listaEstadoDeInscripcion" >
        </app-listadeestadoinscripcion>
    </div>
</div>