<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item role="listitem">
        <mat-icon> home</mat-icon>
        Home
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon> assignment_ind</mat-icon>
        Registrar Incripcion
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon> assessment </mat-icon>
        Reportes
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon> build </mat-icon>
        Tablas Auxiliares
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>