mat-toolbar{
background-color: var(--color-primario);
color: var(--color-secundario);
}
mat-sidenav{
    border-right: none;
    padding: 16px 0;
    height: 100%;
}
mat-sidenav-content{
    height: calc(100svh - 98px);
    border-radius: 10px;
    padding: 16px;
    max-width: 1528px;
    margin: 0 auto;
}
mat-sidenav-container{
    height: calc(100svh - 65px);
}