<mat-toolbar [ngStyle]="{ 'padding-left': sidenav.mode==='side' ? '30px' : '0' }">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span>App Congreso</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item role="listitem" [routerLink]="['/']" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <mat-icon matListItemIcon> home</mat-icon>
        Home
      </mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/']" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <mat-icon matListItemIcon> assignment_ind</mat-icon>
        Incripcion
      </mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/auxiliares/lista-de-participantes']" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <mat-icon matListItemIcon> assignment_ind</mat-icon>
        Personas
      </mat-list-item>
      <mat-list-item role="listitem" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <mat-icon matListItemIcon> assessment </mat-icon>
        Reportes
      </mat-list-item>
      <mat-list-item role="listitem" [routerLink]="['/auxiliares']" (click)="sidenav.mode === 'over' && sidenav.toggle()">
        <mat-icon matListItemIcon> build </mat-icon>
         Auxiliares
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>